.standard-button,
.standard-button2 {
  font-size: 18px;
  font-weight: 400 !important;
  border-radius: 4px !important;
  text-shadow: 0 !important;
  color: #ffffff;
  min-width: 150px;
  border: none;
  padding: 16px 25px 16px 25px;
  margin: 5px;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.standard-button:hover,
.standard-button2:hover {
  border: none;
}

.standard-button i,
.standard-button2 i {
  margin-right: 8px;
  font-size: 20px;
}

.standard-button {
  background: #008ed6;
}